*.iml
.gradle
/local.properties
.idea/inspectionProfiles
.idea/dictionaries
.idea/libraries
.idea/leetcode
.idea/modules
.idea/shelf
.idea/caches
.idea/*.xml
.idea/.gitignore
.idea/.name
!.idea/codeStyles/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
